<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well text-center">
                <p><small>Determine triangle type using side length !  </small><strong *ngIf="popup" style="color: green">Your input was saved to the DB</strong></p>
                <form (ngSubmit)="getType();">

                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="sideA" name="sideA" placeholder="Insert first side length  (*)" type="number" />

                    </div>

                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="sideB" name="sideB" placeholder="Insert second side length  (*)" type="number" />

                    </div>

                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="sideC" name="sideC" placeholder="Insert third side length  (*)" type="number" />

                    </div>
                    <a *ngIf="type!=null" href="#" (click)="save()" style="float:left">save</a>
                    <button type="submit" style="float:right" class="btn btn-default">Verify type</button>
                </form>

            </div>
        </div>


        <div class="col-md-6">
            <img *ngIf="equilateral " width="300" class="img" src="./assets/one.png">
            <img *ngIf="isosceles" width="300" class="img" src="./assets/two.png">
            <img *ngIf="scalene" width="300" class="img" src="./assets/three.png">
        </div>

    </div>
</div>